<aside class="sidebar flex flex-col items-center py-4">
    <a href="{{ url_for('index') }}" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/home.svg') }}" alt="Home">
    </a>
    <a href="{{ url_for('diary') }}" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/calendar.svg') }}" alt="Calendar">
    </a>
    <a href="#" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/users.svg') }}" alt="Users">
    </a>
    <a href="#" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/bar-chart-2.svg') }}" alt="Analytics">
    </a>
    <a href="#" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/plus.svg') }}" alt="Add">
    </a>
    <div class="sidebar-spacer"></div>
    <a href="#" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/settings.svg') }}" alt="Settings">
    </a>
    <a href="#" class="sidebar-icon">
        <img src="{{ url_for('static', filename='img/feather/log-out.svg') }}" alt="Logout">
    </a>
</aside>